
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">



    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">


    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
    <style>
        /* Diğer stiller burada */

        .select-menu-dropdown {
            position: absolute;
            display: none;
            margin-top: 5px;
            border: 1px solid #ccc;
            background-color: #fff;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
            z-index: 1000;
            max-height: 200px; /* Açılır menünün maksimum yüksekliği */
            overflow-y: auto; /* Açılır menüde kaydırma çubuğunu etkinleştir */
        }

            /* Diğer stiller burada */

            .select-menu-dropdown option {
                padding: 8px 10px;
                display: block;
            }

    </style>
</head>

<body id="page-top">


    <div id="wrapper">


        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">


            <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-area="" asp-controller="Home" asp-action="Index">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">İlaç Rehberim </div>
            </a>


            <hr class="sidebar-divider my-0">


            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="HomePage">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Panel</span>
                </a>
            </li>

            <hr class="sidebar-divider my-0">


            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Sorgu">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Sorgu</span>
                </a>
            </li>

            <hr class="sidebar-divider my-0">



            <hr class="sidebar-divider">

            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="grafik">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Grafikler</span>
                </a>
            </li>
            <hr class="sidebar-divider">

            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Not">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Notlar</span>
                </a>
            </li>


            <hr class="sidebar-divider d-none d-md-block">


            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>


        <div id="content-wrapper" class="d-flex flex-column">


            <div id="content">


                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">


                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>


                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Arama yap..."
                                   aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>


                    <ul class="navbar-nav ml-auto">


                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                 aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                               placeholder="Search for..." aria-label="Search"
                                               aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>


                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>

                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>

                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alarm Merkezi
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">Mayıs 7, 2024</div>
                                        <span class="font-weight-bold">Öncelikli Uyarı: "Acil! Yüksek ateş ve şiddetli baş ağrısı olan hastanın durumu kontrol altına alınmalıdır."</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">Mayıs 8, 2024</div>
                                        Dikkat Edilmesi Gereken Durum: "Kritik ilaç stoğu uyarısı: Antibiyotiklerin stok seviyesi kritik seviyeye düştü, yeniden sipariş verilmelidir."
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">Mayız 9, 2024</div>
                                        Önemli Bilgi: "Kullanılan ilaçlara bağlı olası yan etkilerin rapor edilmesi gerekmektedir. Hastaların yan etkileri düzenli olarak takip edilmelidir."
                                    </div>
                                </a>
                            </div>
                        </li>


                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>

                                <span class="badge badge-danger badge-counter">7</span>
                            </a>

                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Mesaj Merkezi
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_1.svg"
                                             alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">
                                            Randevu Onayı: "Lütfen belirtilen saatte muayene için hazır bulununuz."
                                        </div>
                                        <div class="small text-gray-500">Hastane Yönetimi</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_2.svg"
                                             alt="...">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">
                                            "Merhaba [Doktor Adı], [Hasta Adı]'nın tedavi planında güncelleme yapılmıştır. Detaylar için hasta dosyasını kontrol ediniz."
                                        </div>
                                        <div class="small text-gray-500">Hastane Yönetimi</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_3.svg"
                                             alt="...">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">
                                            "Doktorlar Toplantısı Hatırlatması: Yarın saat [Saat] için toplantı planlanmıştır. Lütfen katılımınızı sağlayınız."
                                        </div>
                                        <div class="small text-gray-500">Hastane Yönetimi</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                             alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">
                                            "Dikkatinize: Yeni bir hasta kaydı yapılmıştır. [Hasta Adı] hakkında detaylı bilgiyi hasta dosyasında bulabilirsiniz."
                                        </div>
                                        <div class="small text-gray-500">Hastane Yönetimi</div>
                                    </div>
                                </a>
                                @*<a class="dropdown-item text-center small text-gray-500" href="#">Daha Fazla Mesaj</a> *@
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>


                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline small" style="color: blue;font-weight: bold;font-size: unset;">@ViewBag.UserName</span>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profilim
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Çıkış
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>

                @if (ViewBag.ErrorMessage != null)
                {
                    <div class="alert alert-danger" role="alert">
                        @ViewBag.ErrorMessage
                    </div>
                }

                @if (ViewBag.SuccessMessage != null)
                {
                    <div class="alert alert-success" role="alert">
                        @ViewBag.SuccessMessage
                    </div>
                }

                <div class="container-fluid bg-light">
                    <div class="container mt-5">
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="card">
                                    <h5 class="card-header bg-primary text-white text-center">Kullanıcı Bilgileri Güncelleme</h5>
                                    <div class="card-body">
                                        <form method="post" action="@Url.Action("UpdateSettings", "User")">
                                            <div class="form-group">
                                                <label for="adSoyad">Ad Soyad:</label>
                                                <input type="text" class="form-control" id="adSoyad" name="adSoyad" value="@ViewBag.NameSurname" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="kullaniciAdi">Kullanıcı Adı:</label>
                                                <input type="text" class="form-control" id="kullaniciAdi" name="kullaniciAdi" value="@ViewBag.UserName" required>
                                            </div>

                                            <div class="form-group">
                                                <label for="telefon">Telefon:</label>
                                                <input type="tel" class="form-control" id="telefon" name="telefon" value="@ViewBag.Phone" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="email">E-mail:</label>
                                                <input type="email" class="form-control" id="email" name="email" value="@ViewBag.Email" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="password">Şifre:</label>
                                                <input type="password" class="form-control" id="password" name="password">
                                            </div>
                                            <button type="submit" class="btn btn-primary">Güncelle</button>
                                        </form>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="successModalLabel">Bilgiler Güncellendi</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Bilgileriniz başarıyla güncellendi. Lütfen çıkış yapın ve tekrar giriş yapın.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                                <a href="/Home/Logout" class="btn btn-primary">Çıkış Yap</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>İlaç Rehberim &copy; 2024</span>
                    </div>
                </div>
            </footer>


        </div>


    </div>


    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ayrılmaya Hazır Mısınız?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Çıkış yapıyorsunuz emin misiniz !!!!</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">İptal</button>
                    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Çıkış Yap</a>
                </div>
            </div>
        </div>
    </div>


    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>


    <script src="~/js/sb-admin-2.min.js"></script>


    <script src="~/vendor/chart.js/Chart.min.js"></script>


    <script src="~/js/demo/chart-area-demo.js"></script>
    <script src="~/js/demo/chart-pie-demo.js"></script>
    <script>
        $(document).ready(function () {
            $('.select-menu').on('click', function () {
                var dropdown = $(this).next('.select-menu-dropdown');
                var windowHeight = $(window).height();
                var dropdownHeight = dropdown.outerHeight();
                var dropdownTop = dropdown.offset().top - $(window).scrollTop();

                if (dropdownTop + dropdownHeight > windowHeight) {
                    dropdown.css('max-height', windowHeight - dropdownTop - 20);
                } else {
                    dropdown.css('max-height', '');
                }

                dropdown.toggle();
            });

            $(document).on('click', function (e) {
                if (!$(e.target).closest('.select-menu').length) {
                    $('.select-menu-dropdown').hide();
                }
            });
        });

    </script>

</body>

</html>

